.logo img {
    width: 160px;

}
.header{
position: sticky;
top: 5px;
background-color: white;

}
nav {
    /* width: 60%; */
    margin: auto;

    display: flex;
    justify-content: space-around;
 
}

ul {
    position: relative;
    display: flex;
    gap: 34px;

}

li {
    list-style-type: none;


cursor: pointer;

}

@media only screen and (max-width:345px) {
    body {

        background-color: rgb(199, 180, 180);
    }

    header {
        width: 80vw;

    }
}

.first {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bt {
    background-color: #006bd1;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
    color: aliceblue;
    cursor: pointer;

}

.font {
margin-top:25px;
    font-family: sans-serif;
    font-size: 23px;
}

p {
    width: 50vw;
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.small {

    font-size: 12px;
}

.Second {
    width: 60vw;
    margin: auto;
}

.bt-green {
    background-color: #5cb85c;

}

.bt-blue {
    background-color: #55a6f1;
}

.item {
    background-color: #e1ebe6;
    padding: 14px 9px;
    border-radius: 10px;
    /* margin: 14px; */
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.item-lan {
    text-align: center;
    font-weight: 700;
    padding-bottom: 36px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 23px;
}

.download :nth-child(2) {
    font-size: 23px;
}

.download :nth-child(1) {

    background-color: rgb(146, 218, 39);
    font-size: xx-large;
    font-weight: bolder;

    font-family: fantasy;
    font-style: italic;
    padding: 7px 10px;
    border-radius: 3px;
}

.download {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 13px;
}
@media screen and (max-width : 1100px) {

    .grid {
    display: grid;
    grid-template-columns: 1fr  ;
     
}

}
.bt a{
    text-decoration: none;
    color: white;
}